.comics-header {
  color: #e0e0e0;
  font-family: "AnimeFont", sans-serif;
}
.comics-header h1 {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.comics-header .header-info {
  display: flex;
  gap: 30px;
}

/*stili card info*/
.card-info {
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(25px);
  border: 1px solid #b80217;
  width: 25%;
  padding: 5px;
}
/*characters*/
.comics-characters img {
  width: 70px;
  height: 80px;
}
/*----BODY------*/
.comics-body {
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(25px);
  border: 1px solid #b80217;
  margin-top: 2em;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  padding-top: 30px !important;
}

/*IMMAGINE FUMETTO*/
.comics-body img {
  width: 60%;
}

.comics-extra button {
  background: none;
  color: #e0e0e0;
  font-family: "AnimeFont", sans-serif;
  border-radius: 3px;
  border: 2px solid #e0e0e0;
  transform: rotate(-6deg);
  letter-spacing: 0.2em;
  padding-inline: 20px;
  display: flex;
  margin-block: 20px;
}
.comics-extra button.active {
  background-color: #cfcfcf;
  color: black;
  border-color: black;
}

.comic-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-height: 90vh; /* Limita l'altezza massima */
}

.slide-classic {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 16 / 9; /* Mantiene proporzioni */
}

.comics-classic-body {
  background: black;
  backdrop-filter: blur(25px);
  border: 2px solid #b80217;
  margin-top: 2em;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  padding-top: 30px !important;
  color: #e0e0e0;
  font-family: "AnimeFont", sans-serif;
}

.comics-classic-body .header-classic {
  font-size: 1.2em;
  text-align: end;
  margin-right: 20px;
}
.comics-classic-body .header-classic:hover {
  cursor: pointer;
}
