.comics-header {
  color: #e0e0e0;
  font-family: "AnimeFont", sans-serif;
}
.comics-header h1 {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.comics-header .header-info {
  display: flex;
  gap: 30px;
}

/*stili card info*/
.card-info {
  background: rgba(12, 12, 12, 0.8);
  backdrop-filter: blur(25px);
  border: 1px solid var(--color);
  width: 25%;
  padding: 5px;
}
/*characters*/
.comics-characters {
  max-height: 300px;
  overflow-y: auto;
}
.comics-characters img {
  width: 70px;
  height: 80px;
}

.comics-extra {
  text-align: center;

  button {
    letter-spacing: 3px;
  }
}

.button-sect {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-block: 20px;

  button {
    background: none;
    color: #e0e0e0;
    font-family: "AnimeFont", sans-serif;
    border-radius: 3px;
    border: 2px solid #e0e0e0;
    transform: rotate(-3deg);
    letter-spacing: 0.2em;
    padding-inline: 20px;
    display: flex;
    margin-block: 20px;
    font-size: 1.5em;
  }
  button.active {
    background-color: #cfcfcf;
    color: black;
    border-color: black;
  }
}

/*----SCORRIMENTO MODE------*/
.comics-body {
  background: rgba(12, 12, 12, 0.8);
  backdrop-filter: blur(25px);
  border: 1px solid var(--color);
  margin-top: 2em;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  padding-top: 30px !important;
  color: #e0e0e0;
  font-family: "AnimeFont", sans-serif;
  font-size: 1.1em;
}

/*IMMAGINE FUMETTO*/
.comics-body .fumetto {
  width: 60%;
}
.comics-body .text-end img {
  width: 26px;
  transform: rotate(90deg);
}
.comics-body .text-end {
  margin-right: 20px;
  padding-top: 10px;
}

/*CLASSIC MODE*/

.slide-classic {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 16 / 9;
}

.comics-classic-body {
  background: rgb(12, 12, 12, 0.8);
  backdrop-filter: blur(25px);
  border: 2px solid var(--color);
  margin-top: 2em;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  padding-top: 20px !important;
  color: #e0e0e0;
  font-family: "AnimeFont", sans-serif;
  margin-bottom: 20px;
}

.comics-classic-body .header-classic {
  font-size: 1.2em;
  text-align: end;
  margin-right: 20px;
  margin-bottom: 15px;
  button {
    border-color: #e0e0e0;
    letter-spacing: 3px;
    padding-inline: 10px;
  }
}
.comics-classic-body .header-classic button:hover {
  cursor: pointer;
}

.comic-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-height: 90vh;
}
.swiper-comics-classic .swiper-button-next,
.swiper-comics-classic .swiper-button-prev {
  background-color: aliceblue;
  padding: 3em 1em;
  color: black;
  border: 2px solid var(--color);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.fullscreen-container-scroll {
  height: 100vh;
  overflow-y: auto;
  border-bottom: black;
}

.up-icon {
  width: 24px;
  transform: rotate(90deg);
}

@media (max-width: 768px) {
  .comics-header h1 {
    font-size: 2em;
  }
  .comics-header .header-info {
    flex-direction: column;
    gap: 15px;
  }
  .card-info {
    width: 100% !important;
    cursor: pointer;
  }

  .comics-characters img {
    width: 50px;
    height: 60px;
    object-fit: cover;
  }

  .comics-characters p {
    display: none;
  }

  .character-list {
    margin-top: 10px;
  }

  .character-list div.d-flex {
    padding: 5px 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  .button-sect button {
    transform: unset;
  }

  .fumetto {
    margin-top: 10px;
    width: 45vh !important;
  }
  .header-scorrimento button {
    display: none;
  }

  .swiper-comics-classic .swiper-button-next,
  .swiper-comics-classic .swiper-button-prev {
    background-color: rgba(255, 251, 251, 0.097);
    padding: 3em 1em;
    box-shadow: none;
    border: none;
  }
}

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  touch-action: none;
}

.comic-image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  user-select: none;
}
