.characters-container {
  height: 100vh;
  font-family: "AnimeFont", sans-serif;
  margin-top: 20px;
  color: #e0e0e0;
}

/*TITOLO*/
.title-characters {
  margin-bottom: 15px;

  h1 {
    display: flex;
    justify-content: center;
  }

  img {
    width: 230px;
    display: flex;
    margin: auto;
    position: relative;
    bottom: 8px;
  }
}

/*CARD TUTTI I PERSONAGGI*/
.card-characters-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1px;
}

.card-characters {
  background: rgba(12, 12, 12, 0.8);
  backdrop-filter: blur(25px);
  border: 2px solid var(--color);
  transition: background-color 2s ease;
  border-radius: 10px;
  color: #e0e0e0;
  padding: 5px;

  img {
    width: 100px;
  }

  h4 {
    font-size: 1em;
    margin-block: auto;
  }
}

.card-characters:hover {
  transform: scale(1.1);
  background-color: #ff073a;
  transition: transform 0.2s ease;
  cursor: pointer;
  z-index: 9;
  border-color: black;
}
.card-characters:hover img {
  transform: scale(1.4);
}

/*CARD DETAILS*/
.card-characters-details {
  background: rgba(12, 12, 12, 0.8);
  backdrop-filter: blur(25px);
  border: 2px solid var(--color);
  color: #e0e0e0;
  padding: 20px;
  text-align: center;

  img {
    max-width: 300px;
  }

  h2 {
    background-color: #e0e0e0;
    border: 1px solid black;
    color: black;
    padding-inline: 20px;
  }

  .footer-characters-details {
    p {
      color: var(--color);
      background-color: #e0e0e0;
      border: 1px solid black;
      color: black;
      padding-inline: 20px;
    }

    img {
      max-width: 80px;
      position: relative;
      bottom: 8px;
    }
  }
}

.card-characters-details:hover {
  transform: scale(1.1);
}

.card-characters-details .footer-characters-details:hover {
  cursor: pointer;
  transform: scale(1.1);
}
