*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*SFONDO*/
#root {
  background-image: url("/src/assets/img/bg-home/bg-home.png");
  background-size: cover;
}

/*-----FONT-----*/
@font-face {
  font-family: "AnimeFont";
  src: url("../src/assets/fonts/Anime\ Inept.otf") format("opentype");
}
@font-face {
  font-family: "LogoFont";
  src: url("../src/assets/fonts/WhoDares.otf") format("opentype");
}
