*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*-----FONT-----*/
@font-face {
  font-family: "AnimeFont";
  src: url("../src/assets/fonts/Anime\ Inept.otf") format("opentype");
}
