*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*SFONDO*/

/*-----FONT-----*/
@font-face {
  font-family: "AnimeFont";
  src: url("../src/assets/fonts/Anime\ Inept.otf") format("opentype");
}
@font-face {
  font-family: "LogoFont";
  src: url("../src/assets/fonts/WhoDares.otf") format("opentype");
}
@font-face {
  font-family: "FunnyKid";
  src: url("../src/assets/fonts/FunnyKid.ttf") format("truetype");
}

/*-----ANIMATION-----*/
@keyframes moveArrowVertical {
  0% {
    transform: rotate(-90deg) translateX(0);
  }
  50% {
    transform: rotate(-90deg) translateX(10px);
  }
  100% {
    transform: rotate(-90deg) translateX(0);
  }
}
